/*start main rules*/
* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
.container{
	width:70%;
	margin:auto;
}
/*end main rules*/

/*start header*/
.header .sign {
	float: right;
	width: 100%;
	color: #06a5b8;
	margin: 0;
	border: none;
	height: 50px;
}

.header .sign ul {
	float: right;
	list-style: none;
	margin: 0;
	margin-left: 800px;
	padding-top: 10px;
}

.header .sign ul li {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	padding: 0 10px 10px 10px;
	text-transform: uppercase;
	display: inline-block;
}
.header .sign ul li :hover {
	background-color: #5d8edb;
	border-radius: 7px;
	box-shadow: 0 0 10px white;
} 
.header .sign ul li a {
	text-decoration: none;
	color: #FFF;
}

.header .slider {
background-image: url(../images/slider.png);
background-size:1500px 500px; /*css3*/
background-repeat: no-repeat;
height: 500px;
}
.header .slider .slider-heading{
	padding-top:200px;
	text-align:center;
	}
.header .slider .slider-heading h2{
	color:#FFF;
	margin:0 auto;
	padding:7px 0;
	font-size:45px;
	width:600px;
	border-top:2px solid #FFF;
	border-bottom:2px solid #FFF;
}
.header .slider .slider-heading button{
	color:#FFF;
	background:none; 
    margin-top:30px;
    font-size:30px;
    font-weight:bold;
    border:2px solid #FFF;
    padding:10px 30px;
}
.header .slider .slider-heading button:hover {
		color: #FFF;
		font-size: 35px;
		border: 5px solid #2c50b2;
		border-radius:50%;
}
.header .navbar{
	background-color:#252F31;
	color:#fff;
	overflow:hidden;
	text-transform:uppercase;
}
.header .navbar .container{width:90%;}
.header .navbar .container a {
	text-decoration: none;
	color: #FFF;
}
.header .navbar img {
	width:70px;
	height:70px;
	float: left;
	padding-bottom:5px;

}
.header .navbar h2 {
	float: left;
	padding-top: 10px;
}
.header .navbar h2 span {color: #06a5b8;}
.header .navbar ul {
	list-style: none;
	padding-left: 0;
	padding-top: 10px;
	overflow: hidden;
	float: right;
}
.header .navbar ul li{
	float:left;
	padding:10px;
}
.header .navbar ul li a{
	text-decoration:none;
	color:#FFF;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover {color: #06a5b8;}
/*end header*/

/*start features*/
.features{
	overflow:hidden;
	padding:40px 0 50px 0;
}
.features .feat{
	float:left;
	width:33.333%;
	height:300px;
}
	.features .feat img {
		width: 200px;
		height: 200px;
		border-radius: 100%;
		padding-left:50px;
	}
.features .feat h2{text-transform:uppercase; color:#555;}
.features .feat p{color:#777; line-height:1.7;}
/*end features*/

/*start about me*/
.about-me{
	background-color:#F2F2F2;
	overflow:hidden;
	height:500px;
}
.about-me .image{
	width:50%;
	float:left;
}
.about-me .info{
	line-height:1.7;
	float:right;
	width:50%;
	color:#777;
}
.about-me .info h2{
	text-transform:uppercase;
	color:#555;
}
.about-me .hobbies .content {
	overflow:hidden;
	float:left;
	width:25%;
	min-height:100px;
}
.about-me .hobbies .content .icon{float:left; width:12%; padding:20px 10px 0 0;}
.about-me .hobbies .content .icon img{max-width:100%;}
.about-me .hobbies .content .text{float:left; width:80%;}
.about-me .hobbies h3{color:#555;}
.about-me .hobbies p{color:#777;}
/*end about me*/

/*start my skills*/
.my-skills{padding:30px 0; overflow:hidden;}
.my-skills .skills{float:left; width:50%;}
.my-skills .skills h2{color:#555;}
.my-skills .skills p{color:#777;}
.my-skills .skills button{
	border:2px solid #2DCC70;
	padding:10px 20px;
	background:none;
    color:#2DCC70;
}
.my-skills .progress{float:right; width:45%;}
.my-skills .progress .software div{background-color:#F2F2F2; height:30px;}
	.my-skills .progress .software div span {
		background-color: #06a5b8;
		color: #FFF;
		font-weight: bold;
		text-align: right;
		line-height: 30px;
		height: 30px;
		display: block;
	}
/*end my skills*/

/*start resume*/
.resume{
	background-color:#F2F2F2;
	padding:30px 0;
	text-align:center;
	overflow:hidden;
}
.resume h2{color:#555;}
.resume p{color:#777;}
.resume button{
	margin-top:25px;
	border:2px solid #2DCC70;
	padding:10px 20px;
	background:none;
    color:#2DCC70;
}
/*end resume*/

/*start education*/
.education{padding:30px 0; overflow:hidden;}
.education .main{float:left; width:45%;}
.education .main h2{color:#555;}
.education .main p{color:#777; line-height:1.7;}
.education .experience{float:right; width:45%; margin-top:50px;}
.education .experience .second-exp{margin-top:70px;}
.education .experience h3{color:#555;}
.education .experience p{color:#777; line-height:1.7;}
.education .experience span{color:#777; display:block;}
.education .experience button{color:#FFF; background-color:#2DCC70; border:none; margin:10px 0; padding:3px 10px;}
.education .experience hr{margin:20px; background-color:#999; height:1px;border:0; margin:10px;}
/*end education*/

/*start work experience*/
.work{padding:30px 0; overflow:hidden;}
.work .main{float:left; width:45%;}
.work .main h2{color:#555;}
.work .main p{color:#777;}
.work .experience{float:right; width:45%; margin-top:50px;}
.work .experience .second-exp{margin-top:70px;}
.work .experience h3{color:#555;}
.work .experience p{color:#777; line-height:1.7;}
.work .experience span{color:#777; display:block;}
.work .experience button{color:#FFF; background-color:#2DCC70; border:none; margin:10px 0; padding:3px 10px;}
.work .experience hr{margin:20px; background-color:#999; height:1px;border:0; margin:10px;}
/*end work experience*/

/*start testmonials*/
.testmonials{
	text-align:center;
	background-color:#F2F2F2;
	padding:70px 0;
	overflow:hidden;
}
.testmonials q{
	color:#777;
	font:italic normal 18px/1.7 Arial, Tahoma;
}
.testmonials h5{color:#555; text-transform:uppercase;}
.testmonials ul{
	text-align:center; 
	list-style:none;
	padding-left:0;
}
.testmonials ul li{
	width:5px; 
	height:5px; 
	display:inline-block;
	border:1px solid #06a5b8;
	border-radius:100%;
	cursor:pointer;
}
.testmonials ul li.active{background-color:#06a5b8;}
.testmonials ul li:hover {background-color:#06a5b8;}
/*end testmonials*/

/*start portfolio*/
/*.portfolio{padding:50px 0 70px 0; text-align:center;}
.portfolio h2{color:#555;}
.portfolio p{color:#777; line-height:1.7; margin-bottom:30px;}
.portfolio .our-work{overflow:hidden;}
.portfolio .our-work > div{
	float:left;
	width:33.3333333%;
	margin-bottom:10px;
}
.portfolio .our-work > div img{width:90%; margin:10px;}*/
/*end portfolio*/

/*start contact me*/
.contact{
	background-color:#252F31; 
	overflow:hidden;
	padding:50px 0 70px 0;
}
.contact h2{color:#D1D6DA;}
.contact p{color:#6A6E71; line-height:1.7}
.contact p strong{color:#D1D6DA; padding-right:40px;}
.contact .contact-info{width:45%; float:left;}
.contact .form{width:45%; float:right;}
.contact .form label{display:block; margin-bottom:10px; color:#D1D6DA;}
.contact .form input[type="text"]{background-color:#4B5557; color:#FFF; border:0; padding:10px; width:90%; margin-bottom:30px}
.contact .form textarea{
	background-color:#4B5557;
	color:#FFF; 
	border:0; 
	padding:10px; 
	width:90%;
    margin-bottom:30px 
    height:300px;
}
.contact .form input[type="submit"]{
	background-color:#191E22; 
	color:#FFF; 
	border:0;
	padding:8px 50px; 
	margin-top:20px;
}
/*end contact me*/

/*start footer*/
.footer{
	background-color:#191E22;
	color:#6A6E71;
	padding:20px 0;
	text-align:center;
}
.footer ul{
	list-style:none;
	padding-left:0;
}
.footer ul li{
	display:inline-block;
}
/*end footer*/
